[submodule "onion"]
	path = onion
	url = git@github.com:andrew-aladev/onion.git
[submodule "backend/onion"]
	path = backend/onion
	url = git@github.com:andrew-aladev/onion.git
[submodule "frontend/viva_graph"]
	path = frontend/viva_graph
	url = git@github.com:andrew-aladev/VivaGraphJS.git
[submodule "frontend/source/javascripts/viva_graph"]
	path = frontend/source/javascripts/viva_graph
	url = git@github.com:andrew-aladev/VivaGraphJS.git
[submodule "backend/wslay"]
	path = backend/wslay
	url = git@github.com:andrew-aladev/wslay.git
[submodule "talloc2"]
	path = talloc2
	url = git@github.com:andrew-aladev/talloc2.git
[submodule "backend/talloc2"]
	path = backend/talloc2
	url = git@github.com:andrew-aladev/talloc2.git
[submodule "backend/libbtr"]
	path = backend/libbtr
	url = git@github.com:andrew-aladev/libbtr.git
